<% flash.each do |type, msg| %>
  <% if (type == "notice") %>
  <div class="alert alert-success alert-dismissible fade show">
    <%= msg %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% elsif (type == "alert") %>
  <div class="alert alert-danger alert-dismissible fade show">
    <%= msg %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% else %>
  <% end %>
<% end %>

<div class="login">
  <div class="container">
    <div class="logo">
      <svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 264 48.32"><defs><style>.cls-1{fill:#eb352b;}.cls-2{fill:#232120;}</style></defs><title>LogoTEEPTRAK20200731</title><path class="cls-1" d="M7.38,32.92,3.31,21.34,0,22.55V35.07H6A4.36,4.36,0,0,1,7.38,32.92Z"/><path class="cls-1" d="M9.1,40.54,4.61,48.32h8.17l-2.69-7.63A4.09,4.09,0,0,1,9.1,40.54Z"/><path class="cls-1" d="M6,37.51H0V48.32H1.78l5.21-9A4.37,4.37,0,0,1,6,37.51Z"/><polygon class="cls-1" points="0 12.02 0 19.95 2.47 19.04 0 12.02"/><path class="cls-1" d="M32.51,0,28.44,7A6.85,6.85,0,0,1,30,8.94L48.32,2.18V0Z"/><path class="cls-1" d="M35.12,37.51H14.36a4.34,4.34,0,0,1-1.92,2.54l2.92,8.27H22L35.15,37.64A.86.86,0,0,0,35.12,37.51Z"/><path class="cls-1" d="M24.16,5.46a6.67,6.67,0,0,1,2.17.36L29.7,0H18.62L22,5.85A6.71,6.71,0,0,1,24.16,5.46Z"/><path class="cls-1" d="M17.74,13.43a6.59,6.59,0,0,1-.15-1.4,6.52,6.52,0,0,1,2.29-5L15.81,0H0V4.68L4.76,18.2Z"/><path class="cls-1" d="M30.73,12a6.55,6.55,0,0,1-2.29,5L37.7,33a3.57,3.57,0,0,1,.47,0,3.32,3.32,0,0,1,1.9.62l8.25-6.7V4.78L30.69,11.27A6.34,6.34,0,0,1,30.73,12Z"/><path class="cls-1" d="M38.17,39.58a3.41,3.41,0,0,1-1.26-.25l-11.07,9H43.71l-5.09-8.78A3.42,3.42,0,0,1,38.17,39.58Z"/><polygon class="cls-1" points="48.32 35.07 48.32 30.06 42.15 35.07 48.32 35.07"/><path class="cls-1" d="M18.69,15.68,5.57,20.5,9.6,32a3.39,3.39,0,0,1,.55,0,4.08,4.08,0,0,1,1,.13l8.68-15A6.52,6.52,0,0,1,18.69,15.68Z"/><path class="cls-1" d="M35.12,35.07a2.86,2.86,0,0,1,.47-.81l-9.26-16a6.59,6.59,0,0,1-4.34,0l-8.68,15a4.4,4.4,0,0,1,1,1.81Z"/><path class="cls-1" d="M40.75,38.33l5.79,10h1.78V37.51H41.2A3.28,3.28,0,0,1,40.75,38.33Z"/><path class="cls-2" d="M62,29.17V20.09H58.48V13.47H62V8.9L70.94,7v6.48h6.52v6.62H70.94v8.44c0,3.33,1.14,4.61,4,4.61a13.56,13.56,0,0,0,2.1-.23l1.14,6.57a23.23,23.23,0,0,1-4.89.51C65.78,40,62,37.11,62,29.17Z"/><path class="cls-2" d="M78.79,26.52c0-8,5.52-13.56,13.6-13.56,8.9,0,14,6,13,15.43H87.64c0,3.38,2.06,5.44,5.2,5.44,2.24,0,3.79-.92,4.39-2.7l8.12.78c-1.64,5.34-6,8.17-12.78,8.17C84.22,40.08,78.79,34.74,78.79,26.52Zm18.62-3.24a4.82,4.82,0,0,0-9.63,0Z"/><path class="cls-2" d="M108,26.52c0-8,5.52-13.56,13.6-13.56,8.9,0,14,6,13.05,15.43h-17.8c.05,3.38,2.06,5.44,5.2,5.44,2.24,0,3.79-.92,4.39-2.7l8.12.78c-1.64,5.34-6,8.17-12.78,8.17C113.43,40.08,108,34.74,108,26.52Zm18.62-3.24a4.82,4.82,0,0,0-9.63,0Z"/><path class="cls-2" d="M138.12,13.47H147v3.47c.92-2,3.57-3.93,7.35-3.93,5.85,0,11.19,4.11,11.19,13.47s-5.34,13.46-11.19,13.46c-3.83,0-6.43-2-7.35-4.11V48h-8.85Zm18.49,13c0-4-2.06-6.35-4.93-6.35s-5,2.28-5,6.35,2.14,6.34,5,6.34S156.61,30.54,156.61,26.48Z"/><path class="cls-1" d="M169.7,29.17V20.09h-3.51V13.47h3.51V8.9l9-1.91v6.48h6.53v6.62h-6.53v8.44c0,3.33,1.14,4.61,4,4.61a13.56,13.56,0,0,0,2.1-.23l1.14,6.57A23.13,23.13,0,0,1,181,40C173.49,40,169.7,37.11,169.7,29.17Z"/><path class="cls-1" d="M187.87,13.47h8.85v3.47c.78-2.06,3.52-4.39,8.45-3.88l-.82,8.26c-4.57-.82-7.63.77-7.63,6.57V39.58h-8.85Z"/><path class="cls-1" d="M205.26,26.52c0-8.53,4.61-13.6,11.14-13.6,3.28,0,6.25,1.69,7.34,4.24V13.47h8.9V39.53h-8.9V36.06c-1.09,2.47-4.1,4.11-7.34,4.11C209.91,40.17,205.26,35,205.26,26.52Zm18.8,0c0-4-2.14-6.3-5-6.3s-5,2.28-5,6.3,2.15,6.39,5,6.39S224.06,30.58,224.06,26.48Z"/><path class="cls-1" d="M253.73,39.58,246,27.43V39.58h-8.9V7H246V25l7.26-11.5h10.22L254.69,26,264,39.58Z"/></svg>
    </div>
    <h2>Log in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
